<header class="bg-primary p-3">
  <div class="d-flex justify-content-start align-item-center">
    <div>
      <i class="fa fa-bars pr-2" aria-hidden="true" (click)="sidenav.open()"></i>
    </div>
    <span *ngIf="!accountInfo" class="ml-auto">
      <a
        class="btn btn-secondary"
        routerLink="/user/register">
        Register
      </a>
      <a
        class="ml-2 btn btn-secondary"
        routerLink="/user/login">
        Log in
      </a>
    </span>

    <span *ngIf="accountInfo" class="ml-auto">
      <a routerLink="/user/profile" class="profile-link">
        {{accountInfo.email}}
      </a>
    </span>
  </div>
</header>
