<div [formGroup]="formGroup">
  <md-input-container>
    <input mdInput [placeholder]="placeholder" [mdAutocomplete]="auto" [formControl]="formCtrl">
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete" [displayWith]="getDisplayValue">
    <md-option *ngFor="let option of filteredOptions | async" [value]="option">
      <!-- {{ option.name }} -->
      <ng-template *ngIf="optionTemplate" [ngTemplateOutlet]="optionTemplate" [ngOutletContext]="{ $implicit: option }"></ng-template>
      <span *ngIf="!optionTemplate">
        {{ displayField ? option[displayField] : option}}
      </span>
    </md-option>
  </md-autocomplete>
</div>
