<div class="container">
  <form
    [formGroup]="addItemForm"
    novalidate
    (ngSubmit)="onSubmit()"
    class="row mt-5 justify-content-center">
    <div class="col-md-6">
      <app-autocomplete
        placeholder="Brand"
        [options]="brands"
        [formCtrl]="addItemForm.get('brand')"
        [formGroup]="addItemForm"
        displayField="name">
      </app-autocomplete>

      <md-input-container>
        <input
        mdInput
        placeholder="Name"
        type="string"
        formControlName="name"
        >
      </md-input-container>
      <button
        type="submit"
        [disabled]="addItemForm.invalid"
        class="btn btn-primary btn-block"
        >
        Add
      </button>
    </div>
  </form>

</div>
