<div class="container mt-5">
  <div *ngIf="!itemDetails">
    Failed to get item details. Please retry.
  </div>
  <div *ngIf="itemDetails">
    <h2 class="text-center">{{itemDetails.name}}</h2>
    <h3 class="text-center">
      {{itemDetails.brand.name}}
      <span
        *ngIf="itemDetails.madeIn"
        class="flag-icon"
        [ngClass]="'flag-icon-' + itemDetails.madeIn">
      </span>
    </h3>
    <img class="img-fluid img-center" [src]="itemDetails.imageUrl">
    <p>{{itemDetails.description}}<p>
  </div>
</div>
